
{% if quest is defined %}

<table class="tooltip">
	<th>
		<div class="quest">
			<h2><span class="q6"> {{ quest.getName() }} </span></h2>
			<h3>Start: <span class="npcref">
					<a href="/npc/{{ quest.getStartNpc().getId() }}">
						{{ quest.getStartNpc().getName() }}</a> </span></h3>
			<h3>End: <span class="npcref">
					<a href="/npc/{{ quest.getEndNpc().getId() }}">
						{{ quest.getEndNpc().getName() }}</a> </span></h3>

				<h3 class="moneys moneys-quest">Rewards: 
				{% set price = quest.getGoldReward() %}
				{% if price == 0 %}
					No rewards.
				{% else %}
					{% set gold = price/10000 % 100 %}
					{% if gold != 0 %}
						<p class="money m-gold">{{ gold }} </p>
					{% endif %}

					{% set silver = price/100 % 100 %}
					{% if silver != 0 %}
						<p class="money m-silver">{{ silver }} </p>
					{% endif %}

					{% set copper = price % 100 %}
					{% if copper != 0 %}
						<p class="money m-copper">{{ copper }} </p>
					{% endif %}

				{% endif %}
				</h3>

			<th class="top-right">
				<tr>
					<th class="bottom-left"></th>
					<th class="bottom-right"></th>
				</tr>
			</th>
		</div>
	</th>
</table>
{% endif %}