<!DOCTYPE HTML>
<head>
    <link type="text/css" rel="stylesheet" href=" {{ asset ('css/main.css') }} ">
</head>

<body>	
	{% include 'Utils/header_and_menu.html.twig' %}

	<div class="center">

		{% if app.user and user and app.user.getId() == user.getId() %}
		<div >
			<h1>AVATAR</h1>
			{{ form_start(form) }}

			{{ form_widget(form.image) }}
			<button type="submit">UPLOAD</button>

			{{ form_end(form) }}
			<div class="messages">
				{{ form_errors(form.image) }}
			</div>
		</div>
		{% endif %}

	</div>
	<div class="character-container" style="display: block">
		{% if user %}
			<img class="medium-avatar" src="{{ asset ('uploads/avatars/' ~ user.getAvatar().getImage() ) }} ">
			<br>{{ user.getUsername() }}
		{% else %}
			User Not Found
		{% endif %}
		<div class="npc-list-container">
			<table>
				<thead>
				<tr>
					<th>Characters</th>
				</tr>
				</thead>

				<tbody>
				{% for character in characters %}
					<tr>
						<th><a href="/character/{{ character.getId() }}" class="npcref">{{ character.getName() }}</a></th>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>