<!DOCTYPE HTML>
<head>
    <link type="text/css" rel="stylesheet" href=" {{ asset ('css/main.css') }}">
</head>

<body>
	{% include 'Utils/header_and_menu.html.twig' %}

    <div class="news-container">


    {% for article in articles %}
        <div class="news">
            <img class="news-icon" src=" {{ asset ("uploads/articles-icons/" ~ article.getImage() ) }} ">
            
            <div class="news-content">

                <a href="/article/{{ article.getId() }}" />
                <div class="news-header"> {{ article.getTitle() }} </div>
                </a>
                <div class="news-header-date"> posted {{ article.getDate()|date('d-m-Y h:i:s') }} </div>


                <div class="news-text">
                {{ article.getContent() }}
                </div>
                <br>
                <!-- <a class="news-read-more" href="#">Read more...</a> -->
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="nav-pagination-bottom">
        <table class="nav-pagination">
            <tr>
                <td>
                    {% if currentPage != 1 %}
                    <a href="/page/1" rel="first">‹‹ First</a>&nbsp;
                    <a href="/page/{{ currentPage - 1 }}" rel="previous">‹ Prev</a>
                    {% endif %}
                </td>
                <td>
                    {% if currentPage == 1 %}
                        <span class="enabled"><a href="/page/1">1</a></span>
                    {% else %}
                        <span><a href="/page/1">1</a></span>
                    {% endif %}

                    {% set st = currentPage - 2 %}
                    {% set en = currentPage + 2 %}

                    {% if st > 2 %}
                        <span>...</span>
                    {% endif %}

                    {% for i in st .. en %}
                        {% if i > 1 and i < totalPages %}
                            {% if i == currentPage %}
                                <span class="enabled"><a href="/page/{{i}}">{{ i }}</a></span>
                            {% else %}
                                <span><a href="/page/{{i}}">{{ i }}</a></span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if en < totalPages - 1 %}
                        <span>...</span>
                    {% endif %}
                    
                    {% if currentPage == totalPages %}
                        <span class="enabled"><a href="/page/{{ totalPages }}">{{ totalPages }}</a></span>
                    {% else %}
                        <span><a href="/page/{{ totalPages }}">{{ totalPages }}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if currentPage != totalPages %}
                    <a href="/page/{{ currentPage + 1 }}" rel="next">Next ›</a>&nbsp;
                    <a href="/page/{{ totalPages }}" rel="last">Last »</a>
                    {% endif %}
                </td>
                <td>
                    {%  if app.user %}
                    {% if "ROLE_MOD" in app.user.roles or "ROLE_ADMIN" in app.user.roles %}
                        <div class="add-comment">
                            <a href="/newArticle">Add Article</a>
                        </div>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</body>