<!DOCTYPE HTML>
<head>
    <link type="text/css" rel="stylesheet" href="{{ asset ('css/main.css') }}">
</head>

<body>

	{% include 'Utils/header_and_menu.html.twig' %}
    
    <!-- TODO -->

    <div class="news-container">
        <div class="news news-full">
            <div class="news-content">

                <a href="article/ {{ article.getId() }}" />
                <div class="news-header"> {{ article.getTitle() }} </div>
                </a>
                <div class="news-header-date"> posted {{ article.getDate()|date('d-m-Y h:i:s') }} </div>

                <div class="news-text">
                {{ article.getContent() }}
                </div>
                <br>
                <!-- <a class="news-read-more" href="#">Read more...</a> -->
            </div>
        </div>
    </div>
</body>