<!DOCTYPE HTML>
<head>
    <link type="text/css" rel="stylesheet" href="{{ asset ('css/main.css') }}">
    <script type="text/javascript" src=" {{ asset ('js/comment.js') }} " defer></script>
    <div id="comment_type" style="display: none;">article</div>
</head>

<body>
	{% include 'Utils/header_and_menu.html.twig' %}
    
    <div class="news-container">
        <div class="news news-full">
            <div class="news-content">
                <a href="/article/{{ article.getId() }}" />
                <div class="news-header"> {{ article.getTitle() }} </div>
                </a>
                <div class="news-header-date"> posted {{ article.getDate()|date('d-m-Y h:i:s') }} </div>

                <div class="news-text">
                {{ article.getContent() }}
                </div>
                <br>
                {% include 'Comment/comment.html.twig' %}
            </div>
        </div>
    </div>
</body>

{% include "Comment/commentTemplate.html.twig" %}